<!-- workoutDetails.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Workout Details</title>
</head>

<body>
  <div class="container">
    <br>
    <div class="text-center">
      <h2>Workout Details</h2>
    </div>
    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= workout.exerciseName %></h5>
        <p class="card-text">Muscle Group: <%= workout.muscleGrp %></p>
        <p class="card-text">Reps: <%= workout.reps %></p>
        <p class="card-text">Weight (kgs): <%= workout.weight %></p>
        <p class="card-text">Description: <%= workout.workoutDescription %></p>
        <p class="card-text">Example Video:</p>
        <video width="320" height="240" controls>
          <source src="/videos/<%= workout.exampleVideo %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <br>
        <a href="/editWorkout/<%= workout.workoutId %>" class="btn btn-primary">Edit</a>
        <a href="/deleteWorkout/<%= workout.workoutId %>" onclick="return confirm('Are you sure you want to delete this workout?')" class="btn btn-danger">Delete</a>
        <a href = "/workouts" class = "back">Back</a>
      </div>
    </div>
  </div>
</body>

</html>
